<div class="item">
  <div routerLink="/details/{{item.id}}">
    <img src="{{item.image}}" alt="">
    <div class="body">
      <h4>{{item.title}}</h4>
      <p>{{item.description}}</p>
    </div>
  </div>
  <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
    <button class="btn btn-success"  *ngIf="!Clicked" (click)="Clicked=true" >Add To Cart</button>
    <div class="d-flex w-50" *ngIf="Clicked" >
      <input type="number" min="1" class="form-control" [(ngModel)]="quantity">
      <button class="btn btn-danger" (click)="sendItem()">Add</button>
    </div>
    <span>{{item.price}} L.E</span>
  </div>
</div>
